@mixin small {
  @media (max-width: 916px) {
    @content;
  }
}

body {
  font-family: monospace;
}

.form-card {
  display: flex;
  justify-content: space-around;

  .form-end {
    display: flex;
    .form-end__expiration {
      margin-right: 10px;
    }
  }
  @include small {
    flex-direction: column;
  }
}

.form {
  @include small {
    margin-top: 50px;
  }
}

.card {
  width: 250px;
  height: 150px;
  border-radius: 10%;
  background-color: gray;
  display: grid;
  grid-template-columns: 200px, 150px;
  grid-template-rows: repeat(3, 50px);
  grid-template-areas:
    "a a"
    "b b"
    "c d";
  align-items: center;
  box-shadow: 3px 5px 5px black;

  p {
    color: white;
  }
  span {
    font-size: 12px;
  }
  img {
    width: 50px;
    height: 30px;
    grid-area: a;
  }
  .card__logo {
    justify-self: flex-end;
    padding-right: 15px;

    img {
      width: 70px;
      height: 50px;
    }
  }

  .card__number {
    grid-area: b / b;
    margin-left: 10px;
    padding-bottom: 10px;
  }
  .card__holder {
    grid-area: c;
    margin-left: 10px;
    padding-bottom: 10px;
  }
  .card__expiration {
    grid-area: d;
    margin-left: 10px;
    padding-bottom: 10px;
  }
}

.visa {
  background-color: blue;
}

.american {
  background-color: green;
}
.master {
  background-color: black;
}

input {
  border-radius: 5px;
  border: 1px solid gray;
  margin-bottom: 10px;
  margin-top: 5px;
}

.form__button {
  display: flex;
  justify-content: center;
}

.form__button--modif {
  width: 300px;
  background-color: gray;
}
